@import "tailwindcss";

@font-face {
  font-family: "Longsile";
  font-style: normal;
  font-weight: 400;
  src: local("Longsile"), url("/fonts/Longsile.woff") format("woff");
}

html {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 46, 46);
  font-family: "Longsile", sans-serif;
}

.logo-text {
  font-size: 40px;
  text-shadow: 0px 0px 10px purple;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background-color: white;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 3px 3px 0 purple;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: white;
  z-index: 10;
  background-image: url("https://unpkg.com/pixelarticons@1.8.0/svg/volume-2.svg");
  border: 1px solid black;
  color: white;
  cursor: grab;
  box-shadow: 2px 2px 0 purple;
  margin-bottom: 2px;
}

.interaction-button-shadows {
  box-shadow: 3px 3px 0 purple;
}
